[project]
	description = go4 hosts the go4.org packages.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mpl
[access "refs/for/refs/*"]
	read = group user/mpl
	push = group user/mpl
	label-Code-Review = -2..+2 group user/mpl
	label-Verified = -1..+1 group user/mpl
	rebase = group user/mpl
	removeReviewer = group user/mpl
	submit = group user/mpl
[access "refs/heads/*"]
	read = group user/mpl
	create = group user/mpl
	push = +force group user/mpl
	pushMerge = group user/mpl
[access "refs/tags/*"]
	push = +force group user/mpl
	pushTag = group user/mpl
	pushSignedTag = group user/mpl
